body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

#video-background {
  position: fixed;
  right:0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -5;
  filter: blur(8px);
}
